header
  position: fixed
  z-index: 10
  left: 62px

  display: flex
  justify-content: space-between

  width: calc( 100% - 124px)

.header__left
  a
    display: flex
    justify-content: center

.menu
  display: flex
  align-items: center
  justify-content: center

  width: 70px
  height: 128px

  background: #fff

.menu__icon
  width: 26px

.logo
  width: 81px
  margin-left: 31px

.socials
  position: fixed
  z-index: 10
  top: 58px
  right: 64px
